My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10f24b7e-5b6d-4f05-9fc5-6d24c4b6c16f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "22cfea29-687e-4c26-a45f-4cdcd34168dd",
      "name": "Webhook",
      "webhookId": "10f24b7e-5b6d-4f05-9fc5-6d24c4b6c16f"
    },
    {
      "parameters": {
        "options": {
          "maxRowCount": 500
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "025ea57e-fb18-49e6-9dd8-c95614192274",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $json;\n\nreturn {\n  json: {\n    // The text that will be embedded\n    document:\n      \"Ticket ID: \" + (r.id || `ticket_${$itemIndex}`) + \"\\n\" +\n      \"Description: \" + (r.body || \"\") + \"\\n\" +\n      \"Answer: \" + (r.answer || \"\") + \"\\n\" +\n      \"Type: \" + (r.type || \"\") + \"\\n\" +\n      \"Queue: \" + (r.queue || \"\") + \"\\n\" +\n      \"Priority: \" + (r.priority || \"medium\") + \"\\n\" +\n      \"Language: \" + (r.language || \"en\") + \"\\n\" +\n      \"Tags: \" + [\n        r.tag_1, r.tag_2, r.tag_3, r.tag_4,\n        r.tag_5, r.tag_6, r.tag_7, r.tag_8\n      ].filter(Boolean).join(\", \") + \"\\n\" +\n      \"Created At: \" + (r.created_at || new Date().toISOString()),\n\n    // Metadata (stored automatically as payload in Qdrant)\n    id: r.id || `ticket_${$itemIndex}`,\n    body: r.body || \"\",\n    answer: r.answer || \"\",\n    type: r.type || \"\",\n    queue: r.queue || \"\",\n    priority: r.priority || \"medium\",\n    language: r.language || \"en\",\n    created_at: r.created_at || new Date().toISOString(),\n    tags: [\n      r.tag_1 || \"\",\n      r.tag_2 || \"\",\n      r.tag_3 || \"\",\n      r.tag_4 || \"\",\n      r.tag_5 || \"\",\n      r.tag_6 || \"\",\n      r.tag_7 || \"\",\n      r.tag_8 || \"\"\n    ].filter(Boolean)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "5f488954-cc63-48b3-83d4-87cf9a35b5bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        912,
        256
      ],
      "id": "14c214a6-bad7-4d90-9ba3-2ee9c233553d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        848
      ],
      "id": "97e45ab0-3e3c-45f0-8b5e-f9e99d506cd2",
      "name": "When chat message received",
      "webhookId": "e0dba55f-76db-42ac-a575-8966b5ecf726"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    query: $input.item.json.chatInput\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        816
      ],
      "id": "33991033-bf70-4e67-9a4d-e5e152fef92e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        1040
      ],
      "id": "324ab792-1831-4e32-aa82-ff33f0c29bc5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hqsRLQFe6LsoAoe9",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        272
      ],
      "id": "7385582e-324b-4fc4-98ac-bacfd375d072",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hqsRLQFe6LsoAoe9",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.query }}\n\nUse only vector store knowledge to answer the question,Do not make anything up and if you dont know the answer tell the user that the answer was not found.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        816
      ],
      "id": "ff6ecec3-53ee-4c54-9c48-01a5a5f17005",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        768,
        0
      ],
      "id": "67051b44-596c-4d84-b70b-f42f5af96a16",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "nhc2wotDtQ9LU1qP",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        992,
        912
      ],
      "id": "c5ccbb65-f5ad-4b37-a0bd-2a616d0c8b89",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "nhc2wotDtQ9LU1qP",
          "name": "QdrantApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dad8e492-7e2f-4603-a88d-139b1ac3ab76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b95a51f5f110e0349721e50293e6600fef8efa20f0e5f7e21d7a46fa3f32fa8"
  },
  "id": "EMsM0ulkxp39b6Em",
  "tags": [
    {
      "name": "1",
      "id": "YdBUMgbz71T6v2c4",
      "createdAt": "2025-09-17T03:29:49.705Z",
      "updatedAt": "2025-09-17T03:29:49.705Z"
    }
  ]
}